<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

    <context:component-scan base-package="com.rsotar.swagger" />

    <!-- Rest Service exposed by app central -->
    <jaxrs:server id="restServices" address="/">
        <jaxrs:serviceBeans>
            <ref bean="calcService" />
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
        </jaxrs:providers>
    </jaxrs:server>

    <!-- Rest Service Beans -->
    <bean id="calcService" class="com.rsotar.swagger.CalcServiceImpl" />

    <!-- Swagger API listing resource -->
    <bean id="swaggerResourceJSON"
          class="com.wordnik.swagger.jaxrs.listing.ApiListingResourceJSON" />

    <!-- Swagger writers -->
    <bean id="resourceWriter"
          class="com.wordnik.swagger.jaxrs.listing.ResourceListingProvider" />
    <bean id="apiWriter"
          class="com.wordnik.swagger.jaxrs.listing.ApiDeclarationProvider" />

    <jaxrs:server id="swagger" address="/sw">
        <jaxrs:serviceBeans>
            <ref bean="swaggerResourceJSON" />
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <ref bean="resourceWriter" />
            <ref bean="apiWriter" />
        </jaxrs:providers>
    </jaxrs:server>

    <bean id="swaggerConfig" class="com.wordnik.swagger.jaxrs.config.BeanConfig">
        <property name="resourcePackage" value="com.rsotar.swagger" />
        <property name="version" value="1.0" />
        <property name="basePath" value="http://localhost:8095/SwaggerApiRestV1/rest" />
        <property name="title" value="SwaggerUI, Spring and Apache CXF" />
        <property name="description" value="SwaggerUI,Spring and Apache CXF Integration Sample." />
        <property name="contact" value="rsotar@gmail.com" />
        <property name="scan" value="true" />
    </bean>

</beans>